<template>
  <fieldset>
    <legend>[src/views/About.vue "page"/"view"]</legend>
    <h1>Example of an "About" page</h1>
    <p>".Vue" files are a mix of html, javascript, and css.</p>
  </fieldset>
</template>

<style scoped>
  fieldset {
      border: 1px solid #000;
  }
</style>