<template>
  <fieldset>
    <legend>[src/views/EmitterDemo.vue "page"/"view"]</legend>
    
    <WebPostEmitter ref="WebPostEmitter"
    @onNewPostsReceived="handleNewPostsFromRestAPI" />
    <br><br>
    <div class="text-align:left">Press "Load Posts" to populate the DOM with data from a live RESTful API endpoint.</div>
    <div class="text-align:left">Press "Clear Posts" to remove the posts from the DOM.</div>
    <button @click="clearPosts()">Clear Posts</button>
    <button @click="fetchPosts()">Load Posts</button>
    <ol>
        <li v-for="post in posts" v-text="post.title" v-bind:key="post.id"></li>
    </ol>        
  </fieldset>
</template>

<script>
import WebPostEmitter from '@/components/WebPostEmitter.vue'
export default {
    name: 'EmitterDemo',

    components: {
        WebPostEmitter
    },    

    data: function() {
        return {
            posts: null
        }
    },

    methods: {
        clearPosts() {
            this.$refs.WebPostEmitter.clearPosts();
            this.posts = null;
        },

        fetchPosts() {
            this.$refs.WebPostEmitter.fetchPosts();
        },

        handleNewPostsFromRestAPI(data) {
            this.posts = data
        },
    }
}

</script>

<style scoped>

</style>