<template>
  <fieldset>
    <legend>[src/views/GaugeDemo.vue "page"/"view"]</legend>
    <MyGauge />
  </fieldset>
</template>

<script>
import MyGauge from '@/components/MyGauge.vue'
export default {
    name: 'GaugeDemo',
        components: {
            MyGauge
    },
};
</script>

<style scoped>
  fieldset {
      border: 1px solid #000;
  }
</style>