<template>
  <fieldset>
    <legend>[src/views/Home.vue "page"/"view"]</legend>
    <img alt="Vue logo" src="../assets/logo.png" />
    <HelloWorld msg="Welcome to Your Vue.js App" />
  </fieldset>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "Home",
  components: {
    HelloWorld
  }
};
</script>

<style scoped>
  fieldset {
      border: 1px solid #000;
  }
</style>