<template>
  <fieldset>
    <legend>[src/views/NotFound.vue "page"/"view"]</legend>
    <h1>Sorry, page not found.</h1>
  </fieldset>
</template>

<script>
export default {
  name: 'NotFound',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  fieldset {
      border: 1px solid #000;
  }
</style>
