<template>
  <fieldset>
    <legend>[src/components/DecisionMaker.vue ]</legend>
      <div id="DecisionMaker">
        1. Think of a yes/no question
        <br>
        <button @click="getAnswer()">2. {{this.answerPrompt}}</button>
        <div>
          <img v-bind:src="answerImg">
          <p>{{answerImg}}</p>
        </div>
      </div>
      <br>
      <div id="TestStuff">
        <h3 v-if="hidden">(test items are currently hidden)</h3>
        <h3 v-else>(test items are now visable)</h3>
        <button @click="hidden = !hidden">Press to toggle displaying test items</button>
        <ul v-if="!hidden">
          <li v-for="item in items" v-bind:key="item.description">
            <button @click="item.enabled = !item.enabled">Click to change state</button>          
            <div v-if="item.enabled">enabled: {{ item.description }}</div>
            <div v-else>disabled: {{ item.description }}</div>
          </li>
        </ul>
      </div>
  </fieldset>
</template>

<script>
const axios = require('axios').default;
// const util = require('util');
export default {
    name: 'MyGauge',
    props: {
    },

    created: function(){
    },

    data: function() {
        return {
            hidden: true,
            answerPrompt: "Ask the internet for the answer",
            answerImg: "",
            items: [
                {description: 'item1', enabled: true},
                {description: 'item2', enabled: false},
                {description: 'item3', enabled: true},
            ]
        }
    },

    methods: {
        getAnswer: function() {
            var vm = this
            this.answerPrompt = 'querying...'
            axios.get('https://yesno.wtf/api')
            .then(function (response) {
                vm.answerPrompt = response.data.answer
                vm.answerImg = response.data.image
            })
            .catch(function (err) {
                vm.answerPrompt = 'Couldnt access API:' + err;
            })
            .then(function () {
                //always executed... like finally
            });
        }
    }
}
</script>

<style scoped>

</style>