<template>
  <fieldset>
    <legend>/src/components/HelloWorld.vue</legend>
    <h1>Your 'HelloWorld' message:{{ msg }}</h1>
    <h1 v-if='$route.params.myMessage'>Message from router: {{$route.params.myMessage}} </h1>
  </fieldset>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
fieldset {
  border: 1px solid #000;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
