<template>
    <fieldset> 
        <legend>src/components/HMICellMachineLister.vue</legend>
        <p> Conceptually, think of vue 'components' as being a UI control or a set of closely related functionality</p>
        <br>
        <!-- <h3>proxy_ip={{this.ip}}</h3> -->
        <h3>proxy_host={{$route.params.host}}</h3>
        <h3 v-if='apiQueryResult !== null'> Network API Status={{this.apiQueryResult}}</h3>
        <br>
        <button @click="fetchPosts($route.params.host)">Press to get machine list</button>
        <br>
        <button @click="machinelist=null">Press to clear machine list</button>
        <br>
         <ul>
            <li v-for="machine in machinelist" v-bind:key="machine.name">
                {{machine.name}} {{machine.address}} {{machine.designation}} {{machine.prefix}}
            </li>
        </ul>
    </fieldset>
</template>

<script>
const axios = require('axios').default;
export default {
    name: 'HMICellMachineLister',

    mounted: function() {
        console.log(this.$route.params)
    },

    data: function() {
        return {
            machinelist: null,
            apiQueryResult: null,
            proxyHost: null
        }
    },

    methods: {

        fetchPosts: function(proxyHost) {
            var vm = this;
            vm.proxyHost = proxyHost;
            vm.apiQueryResult = 'Querying network. Please wait...'
            axios.get('http://' + this.proxyHost + '/control/list')
            .then(function(response) {
                vm.machinelist = response.data; 
                vm.apiQueryResult = "Success"; 
                vm.$emit('onNewMachineListReceived', vm.machinelist)
            })
            .catch(function(response) {vm.apiQueryResult='' + response})
            .finally();
        },
    }    
}
</script>

<style scoped>
  fieldset {
      border: 1px solid #000;
  }

</style>
