<template>
    <fieldset>
        <legend>src/components/MyGauge.vue</legend>
        <canvas id="gauge-id"></canvas>
        <br>
        <button @click="add()">add</button>
        <button @click="subtract()">subtract</button>
        <!-- <button @click="gauge.value=0">reset</button> -->
        <input type="text" v-model='gauge.value'>
    </fieldset>
</template>

<script>
import { RadialGauge } from 'canvas-gauges';

export default {
    name: 'MyGauge',
    props: {
    },

    //Keyword functions "data", "created", "mounted", all get called by the framework upon creation.
    //There are many more lifecycle hooks you can use. Please see vue.js documentation for details.
    data: function() { //This gets called first during instantiation...
        console.log('#data lifecycle callback executed');
        return {
            gauge: RadialGauge
        }
    },

    created: function(){ //This gets called second...
        console.log('#created lifecycle callback executed');
        this.proxyGaugeValue = 0;
    },

    mounted: function() { //This gets called third...
        console.log('#mounted lifecycle callback executed');
        this.gauge = new RadialGauge({
        renderTo: 'gauge-id',
        colorNumbers: 'green',
        width: 200,
        height: 200,
        value: 0
        }).draw();
    },

    methods: {
        subtract: function() {
            this.gauge.value--;
            this.proxyGaugeValue = this.gauge.value;
            console.log(this.proxyGaugeValue);
            // this.gauge.update({ value: this.gauge.value--})
        },
        add: function () {
            this.gauge.value++;
            this.proxyGaugeValue = this.gauge.value;
            console.log(this.proxyGaugeValue);
            //this.counter = this.gauge.value;
            //this.gauge.update({ value: this.gauge.value++})        
        },
    }
}
</script>

<style scoped>
  fieldset {
      border: 1px solid #000;
  }
</style>