<template>
  <fieldset>
    <legend>[src/components/WebPostEmitter.vue "component"]</legend>
    <p>This component demostrates using methods to initiate requests and events to notify of their completion </p>
    <p>The intent is to have a parent component use this component's methods to initiaite tasks and have this component send async notifications of task completion/status</p>
  </fieldset>
</template>

<script>
const axios = require('axios').default;
export default {
  name: 'WebPostEmitter',

  props: {
  },

  mounted: function() {
      console.log('init WebPostEmitter')
  },

  data: function() {
      return {
        posts: null
      }
  },

  methods: {
      clearPosts: function() {
        this.posts = null;
      },

      fetchPosts: function() {
        var vm = this;
        axios.get('https://jsonplaceholder.typicode.com/posts')
        .then(function(r) {
          vm.posts=r.data; 
          vm.result="Success"; 
          vm.$emit('onNewPostsReceived', vm.posts)
          })
        .catch(function(err) {alert(err);vm.result="Error:" + err})
        .finally();
      },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
/* li {
  display: inline-block;
  margin: 0 10px;
} */
a {
  color: #42b983;
}
</style>

<style>
  fieldset {
      border: 1px solid #000;
  }

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
