<template>
  <div id="app" style='border:1px solid black; padding:10px;'>
    <h1 v-if="price===100">Your price is 100!</h1>
    <MyGauge />

    <br>
    <HMICellMain ip="192.168.0.115:8001"/>
    <br>

    <MyPostsFromRest ref="MyPostsFromRest"
     :showit="false"
     @onNewPostsReceived="handleNewPostsFromRestAPI"/>

    <br>
    <HelloWorld msg="Welcome to your Vue.js app"/>
    <br>
    <div class="text-align:left">Press "Load Posts" to populate the DOM with data from a live RESTful API endpoint.</div>
    <div class="text-align:left">Press "Clear Posts" to remove the posts from the DOM.</div>
    <button @click="clearPosts()">Clear Posts</button>
    <button @click="fetchPosts()">Load Posts</button>
    <ol>
        <li v-for="post in posts" v-text="post.title" v-bind:key="post.id"></li>
    </ol>        
  </div>
</template>

<script>
import HelloWorld from '@/components/HelloWorld.vue'
import MyPostsFromRest from '@/components/MyPostsFromRest.vue'
import MyGauge from '@/components/MyGauge.vue'
import HMICellMain from '@/components/HMICellMain.vue'

export default {
  name: 'App',

  components: {
    HelloWorld,
    MyPostsFromRest,
    MyGauge,
    HMICellMain
  },

  data: function() {
    return {
      price: 101,
      posts: null
    }
  },

  methods: {
    clearPosts() {
      this.$refs.MyPostsFromRest.clearPosts();
      this.posts = null;
    },

    fetchPosts() {
      this.$refs.MyPostsFromRest.fetchPosts();
    },

    handleNewPostsFromRestAPI(data) {
      this.posts = data
    },

  }

}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
