<template>
  <div id="myroutedapp" style='border:1px solid black; padding:10px;'>
    [/src/MyRoutedApp.vue Main application "container"]
    <br><br>
    Links to "views"/"pages":
    <router-link to='/'>Home</router-link> |
    <router-link :to='{name: "MyGaugeDemoName"}'>GaugeDemo</router-link> |
    <router-link to='/EmitterDemo'>EmitterDemo</router-link> |
    <router-link to='/About'>About</router-link>
    <br>
    Links to "components":
    <router-link to='/HelloWorld/ExampleEmbeddingParamInURLPath'>HelloWorld</router-link> |
    <router-link :to="{name: 'HMICellMachineLister', params: {host}}">HMICellMachineLister</router-link> |
    <router-link :to="{name: 'MyGauge'}">MyGauge</router-link> |
    <router-link :to="{name: 'DecisionMaker'}">DecisionMaker</router-link>
    <br>
    <br>
    <router-view />
  </div>
</template>

<script>

export default {
  name: 'MyRoutedApp',

  components: {
  },

  data: function() {
    return {
      host: '192.168.0.115:8001'
    }
  },

  methods: {
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
